.success {
    background-color: #48bd37;
    color: #FFF;
}
.upload-error{
    display: none;
}

[data-open="true"]+ul{
    padding: 5px;
    border-left: 0.1px solid #cacaca;
}

[data-open="false"]+ul {

    margin: 1px;
    display: none !important;
}

#copyBTN{
    display: none;

}
#moveFileModal ul.sub-files,#copyFileModal ul.sub-files  {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    margin-left: 10px;
}

.selectedfolder {
    background-color: #c3c3c3;
}
.dir-item{
    cursor: pointer;
}
.nonav{
    opacity: 0.3;
}

